* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Windsurf primary";
  src: url("https://windsurf.com/_next/static/media/3ecc75a922018515-s.p.woff2");
}

@font-face {
  font-family: "Windsurf secondary";
  src: url("https://windsurf.com/_next/static/media/13971731025ec697-s.p.woff2");
}

header a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #011c42;
  height: 11vh;
  align-items: center;
  padding-left: 7vw;
  font-family: "Windsurf secondary";

  text-transform: uppercase;
}

.windsurf-logo {
  width: 160px;
}

header a {
  font-size: 14px;
  font-weight: bold;
}

nav a {
  padding: 8px;
  border-radius: 8px;
}

nav a:hover {
  background-color: #ffffff33;
}

nav a i {
  transition: rotate 0.15s ease-in-out;
}

nav a:hover i {
  rotate: 180deg;
}

nav {
  display: flex;
  gap: 35px;
}

.header-last {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-icon {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
}

.download-btn {
  font-weight: 500;
  background-color: #34e8bb;
  color: black;
  height: 11vh;
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.download-btn:hover {
  background-color: #96f1da;
}

.nav1,
.nav2,
.nav3,
.nav4 {
  position: relative;
}

.nav1:hover .box1 {
  display: block;
}

.box1 {
  background-color: aquamarine;
  height: 300px;
  width: 500px;
  position: absolute;
  top: 7vh;
  left: -4px;
  display: none;
  border-radius: 10px;
}

/*--------------herosection 1----------------*/

.hero-section {
  padding-right: 7vw;
  background-color: #011c42;
  padding-left: 7vw;
  font-family: "Windsurf primary";
}

.hero1 p {
  color: white;
  font-size: 68px;
  padding-top: 150px;
}

.hero2 {
  padding: 50px 0;
}

.hero2 .bt1 {
  padding: 20px 30px;
  border-radius: 4px;
  color: black;
  background-color: #34e8bb;
  font-size: 18px;
}

.hero2 .bt1:hover {
  background-color: #96f1da;
}

.hero2 .bt2 {
  padding: 20px 40px;
  border-radius: 4px;

  background-color: rgba(62, 82, 99, 0.5);
  font-size: 18px;
}

.bt2 a {
  text-decoration: none;
  color: white;
}

.hero2 .bt2:hover {
  background-color: rgba(82, 109, 134, 0.5);
}

.hero3 ul li {
  color: white;
  font-size: 20px;
}

/*-------------------container----------------*/
.container {
  background-color: #011c42;
  padding-left: 7vw;
  padding-right: 7vw;
  font-family: "Windsurf primary";
}

.container1 {
  text-align: center;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid rgba(82, 109, 134, 0.5);
}

.c1-p1 {
  color: yellow;
  padding-top: 360px;
}

.c1-p2 {
  color: white;
  font-family: "Windsurf primary";
  font-size: 68px;
}

.c1-p3 {
  padding: 60px 290px;
  color: white;
}

.container2 {
  padding-top: 60px;
  display: flex;
  color: white;
  gap: 35px;
}

.c2-div1 {
  width: 50%;
}

.c2-div1 {
  font-size: 28px;
}

.c2-div2 {
  width: 50%;
}

.c2-div2 a {
  padding-top: 30px ;
  color: rgb(251 156 229);
  text-transform: uppercase;
}

.container3 video , .container6 video{
  width: 1270px;

  padding: 60px;
  border-radius: 20px;
  outline: #243c5e;
  outline-width: 5px;
}

.container4 {
  justify-content: center;
  align-content: center;
  text-align: center;
  border-bottom: 1px solid rgba(82, 109, 134, 0.5);
  padding-bottom: 50px;
}

.c4-p1 {
  padding-top: 40px;
  font-size: 65px;

  color: white;
}

.c4-p2 {
  color: white;
}

.container5{
  padding: 40px 0;
  display: flex;
  gap: 40px;
}

.c5-p1, .c5-p2{
  width: 50%;

}

.c5-p1{
  font-size: 30px;
  color: white;
}

.c5-p2{
  color: white;
}

.c5-p2 a{
   color: rgb(251 156 229);
   padding: 10px 0;
}

/*------------------grid------------------------*/
.parent{
  display: grid;
  gap: 30px;
  justify-content: center;
  align-content: center;
  height: 120vh;
  background-color: white;

}

.child{
  background-color: #011c42;
  grid-auto-rows: 200px;
  grid-template-columns: 200px 200px 200px 200px;
}

