* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Windsurf primary";
  src: url("https://windsurf.com/_next/static/media/3ecc75a922018515-s.p.woff2");
}

@font-face {
  font-family: "Windsurf secondary";
  src: url("https://windsurf.com/_next/static/media/13971731025ec697-s.p.woff2");
}

:root {
  --primary-color: #011c42;
  --font-primary: Windsurf primary;
  --font-secondary: Windsurf secondary;
  --button-primary: #34e8bb;
  --anchor-primary: rgb(251 156 229);
  --anchor-secondary: rgb(250, 200, 238);
  --font-color: rgb(92 0 71);
  --hover-color: rgb(249 243 233);
}

::selection {
  background-color: var(--button-primary);
  color: black;
}

header a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  height: 11vh;
  align-items: center;
  padding-left: 7vw;
  font-family: "Windsurf secondary";
  position: fixed;
  width: 100%;
  text-transform: uppercase;
}

.windsurf-logo {
  width: 160px;
}

header a {
  font-size: 14px;
  font-weight: bold;
}

nav a {
  padding: 8px;
  border-radius: 8px;
}

nav a:hover {
  background-color: #ffffff33;
}

nav a i {
  transition: rotate 0.15s ease-in-out;
}

nav a:hover i {
  rotate: 180deg;
}

nav {
  display: flex;
  gap: 35px;
}

.header-last {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-icon {
  border: 1px solid white;
  border-radius: 50%;
  padding: 7px;
}

.user-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: border 0.15s ease-in-out;
  padding: 3px;
}

.user-border:hover {
  border: 1px solid #34e8bb;
}

.download-btn {
  font-weight: 500;
  background-color: #34e8bb;
  color: black;
  height: 11vh;
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.download-btn:hover {
  background-color: #96f1da;
}

.nav1,
.nav2,
.nav3,
.nav4 {
  position: relative;
}

.nav1:hover .box1 {
  display: block;
}

.box1 {
  background-color: aquamarine;
  height: 300px;
  width: 500px;
  position: absolute;
  top: 7vh;
  left: -4px;
  display: none;
  border-radius: 10px;
}

/*--------------herosection 1----------------*/

.hero-section {
  padding: 240px 7vw;
  background-color: #011c42;

  font-family: "Windsurf primary";
}

.hero1 p {
  color: white;
  font-size: 68px;
}

.hero2 {
  padding: 50px 0;
  gap: 20px;
}

.hero2 .bt1 {
  padding: 20px 30px;
  border-radius: 4px;
  color: black;
  background-color: #34e8bb;
  font-size: 18px;
  border: none;
}

.hero2 .bt1:hover {
  background-color: #96f1da;
}

.hero2 .bt2 {
  padding: 20px 40px;
  border-radius: 4px;
  border: 0.5px solid #384452;
  background-color: rgba(47, 62, 76, 0.5);
  font-size: 18px;
}

.bt2 a {
  text-decoration: none;
  color: white;
}

.hero2 .bt2:hover {
  background-color: rgba(82, 109, 134, 0.5);
}

.hero3 ul li {
  color: white;
  font-size: 20px;
}

.hero3 ul {
  padding-left: 20px;
}

.hero3 ul li::marker {
  color: #34e8bb;
}

/*----------------marquee----------------*/

.marquee-section {
  background-color: var(--primary-color);
  overflow: hidden;
}

.marquee {
  display: flex;
  align-items: center;
  gap: 50px;
  animation: marquee-ani 14s liner infinite;
}

@keyframes marquee-ani {
  from {
    translate: 0%;
  }
  to {
    translate: -100%;
  }
}

.marquee img {
  width: 100px;
}

/*-------------------container----------------*/
.container {
  background-color: #011c42;
  padding-left: 7vw;
  padding-right: 7vw;
  font-family: "Windsurf primary";
}

.container1 {
  text-align: center;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid rgba(82, 109, 134, 0.5);
}

.c1-p1 {
  padding-top: 120px;
  color: yellow;
}

.c1-p2 {
  color: white;
  font-family: "Windsurf primary";
  font-size: 68px;
}

.c1-p3 {
  padding-bottom: 60px;
  padding: 0 260px 60px 260px;
  color: white;
}

.container2 {
  padding-top: 60px;
  display: flex;
  color: white;
  gap: 35px;
}

.c2-div1,
.c2-div2 {
  width: 50%;
}

.c2-div1 {
  font-size: 28px;
}

.c2-div2 p {
  padding-bottom: 30px;
}

.c2-div2 a {
  color: rgb(251 156 229);
  text-transform: uppercase;
  font-style: var(--font-primary);
}

.c2-div2 a:hover {
  color: rgb(251, 182, 235);
}

.container3 video,
.container6 video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1230px;
  padding: 70px;
  border-radius: 10px;
}

.container4 {
  justify-content: center;
  align-content: center;
  text-align: center;
  border-bottom: 1px solid rgba(82, 109, 134, 0.5);
  padding: 60px 0;
}

.c4-p1 {
  padding: 30px 0;
  font-size: 65px;

  color: white;
}

.c4-p2 {
  color: white;
}

.container5 {
  padding: 40px 0;
  display: flex;
  gap: 40px;
}

.c5-p1,
.c5-p2 {
  width: 50%;
}

.c5-p1 {
  font-size: 30px;
  color: white;
}

.c5-p2 p {
  color: white;
  padding-bottom: 30px;
}

.c5-p2 a {
  color: rgb(251 156 229);
}


/*-----------------trusted developers-------------*/



/*---------------ceo-----------------*/

.ceo {
  margin: 1vw;
  background-color: var(--anchor-secondary);
  border-radius: 10px;
  font-family: var(--font-primary);
}

.ceo-div p {
  font-size: 60px;
  color: var(--font-color);
  padding: 10vw 10vw 6vw 10vw;
  font-weight: 500;
}

.ceo-img img {
  border-radius: 50%;
  width: 70px;
}

.ceo-text {
  padding-top: 3px;
  width: 93%;
}

.ceo-img {
  width: 7%;
}

.ceo-div2 {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10vw 10vw;
}

.ceo-div2 .ceo-p1 {
  color: black;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}

.ceo-div2 .ceo-p2 {
  color: orangered;
  font-size: 17px;
}

/*-------------------------------*/

.text p {
  text-align: center;
  font-size: 18px;
  font-family: var(--font-secondary);
  padding-top: 100px;
  padding-bottom: 60px;
}


