* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Windsurf primary";
  src: url("https://windsurf.com/_next/static/media/3ecc75a922018515-s.p.woff2");
}

@font-face {
  font-family: "Windsurf secondary";
  src: url("https://windsurf.com/_next/static/media/13971731025ec697-s.p.woff2");
}

:root {
  --primary-color: #011c42;
  --font-primary: Windsurf primary;
  --font-secondary: Windsurf secondary;
  --button-primary: #34e8bb;
  --anchor-primary: rgb(251 156 229);
  --anchor-secondary: rgb(250, 200, 238);
  --font-color: rgb(92 0 71);
  --hover-color: rgb(249 243 233);
  --jetbrain-color: #43045e;
  --footer-font2: #c0c1c6;
}

::selection {
  background-color: var(--button-primary);
  color: black;
}

header a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  height: 11vh;
  align-items: center;
  padding-left: 7vw;
  font-family: "Windsurf secondary";
  position: fixed;
  width: 100%;
  text-transform: uppercase;
}

.windsurf-logo {
  width: 160px;
}

header a {
  font-size: 14px;
  font-weight: bold;
}

nav a {
  padding: 8px;
  border-radius: 8px;
}

nav a:hover {
  background-color: #ffffff33;
}

nav a i {
  transition: rotate 0.15s ease-in-out;
}

nav a:hover i {
  rotate: 180deg;
}

nav {
  display: flex;
  gap: 35px;
}

.header-last {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-icon {
  border: 1px solid white;
  border-radius: 50%;
  padding: 7px;
}

.user-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: border 0.15s ease-in-out;
  padding: 3px;
}

.user-border:hover {
  border: 1px solid #34e8bb;
}

.download-btn {
  font-weight: 500;
  background-color: #34e8bb;
  color: black;
  height: 11vh;
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.download-btn:hover {
  background-color: #96f1da;
}

.nav1,
.nav2,
.nav3,
.nav4 {
  position: relative;
}

.nav1:hover .box1,
.nav4:hover .box4 {
  display: block;
}

.box1 {
  background-color: var(--hover-color);
  height: 300px;
  width: 500px;
  position: absolute;
  top: 6vh;
  left: -4px;
  display: none;
  border-radius: 5px;
}

.box4 {
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: var(--hover-color);
  top: 6vh;
  border-radius: 5px;
  display: none;
  color: black;
}

/*--------------herosection 1----------------*/

.hero-section {
  padding: 240px 7vw;
  background-color: #011c42;

  font-family: "Windsurf primary";
}

.hero1 p {
  color: white;
  font-size: 68px;
}

.hero2 {
  padding: 50px 0;
  gap: 20px;
  display: flex;
}

.hero2 .bt1 {
  padding: 20px 30px;
  border-radius: 4px;
  color: black;
  background-color: #34e8bb;
  font-size: 18px;
  border: none;
}

.hero2 .bt1:hover {
  background-color: #96f1da;
}

.hero2 .bt2 {
  padding: 20px 40px;
  border-radius: 4px;
  border: 0.5px solid #384452;
  background-color: rgba(47, 62, 76, 0.5);
  font-size: 18px;
}

.bt2 a {
  text-decoration: none;
  color: white;
}

.hero2 .bt2:hover {
  background-color: rgba(82, 109, 134, 0.5);
}

.hero3 ul li {
  color: white;
  font-size: 20px;
}

.hero3 ul {
  padding-left: 20px;
}

.hero3 ul li::marker {
  color: #34e8bb;
}

/*----------------marquee----------------*/

.marquee-section {
  background-color: var(--primary-color);
  overflow: hidden;
}

.marquee {
  display: flex;
  align-items: center;
  gap: 50px;
  animation: marquee-ani 30s linear infinite;
}

@keyframes marquee-ani {
  from {
    translate: 0%;
  }
  to {
    translate: -100%;
  }
}

.marquee img {
  width: 100px;
}

/*-------------------container----------------*/
.container {
  background-color: #011c42;
  padding-left: 7vw;
  padding-right: 7vw;
  font-family: "Windsurf primary";
}

.container1 {
  text-align: center;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid rgba(82, 109, 134, 0.5);
}

.c1-p1 {
  padding-top: 120px;
  color: yellow;
}

.c1-p2 {
  color: white;
  font-family: "Windsurf primary";
  font-size: 68px;
}

.c1-p3 {
  padding-bottom: 60px;
  padding: 0 260px 60px 260px;
  color: white;
}

.container2 {
  padding-top: 60px;
  display: flex;
  color: white;
  gap: 35px;
}

.c2-div1,
.c2-div2 {
  width: 50%;
}

.c2-div1 {
  font-size: 28px;
}

.c2-div2 p {
  padding-bottom: 30px;
}

.c2-div2 a {
  color: rgb(251 156 229);
  text-transform: uppercase;
  font-style: var(--font-primary);
}

.c2-div2 a:hover {
  color: rgb(251, 182, 235);
}

.container3 video,
.container6 video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1230px;
  padding: 70px;
  border-radius: 10px;
}

.container4 {
  justify-content: center;
  align-content: center;
  text-align: center;
  border-bottom: 1px solid rgba(82, 109, 134, 0.5);
  padding: 60px 0;
}

.c4-p1 {
  padding: 30px 0;
  font-size: 65px;

  color: white;
}

.c4-p2 {
  color: white;
}

.container5 {
  padding: 40px 0;
  display: flex;
  gap: 40px;
}

.c5-p1,
.c5-p2 {
  width: 50%;
}

.c5-p1 {
  font-size: 30px;
  color: white;
}

.c5-p2 p {
  color: white;
  padding-bottom: 30px;
}

.c5-p2 a {
  color: rgb(251 156 229);
}

/*-----------------trusted developers-------------*/
.fixed-sec {
  background-color: var(--font-color);
  display: flex;
  justify-content: space-between;
  padding: 7vw;
  font-family: var(--font-primary);
  background-image: url(https://windsurf.com/static/images/homepage/stats_section_wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.fixed1 {
  width: 35%;
}

.fixed2 {
  width: 65%;
  right: 7vw;
}

.fixed1 ul li {
  color: white;
}

.fixed1 ul li::marker {
  color: var(--anchor-primary);
}

.fixed2 p {
  color: white;
  font-size: 50px;
  font-weight: 500;
}

/*---------------editor grid--------------*/
.editor {
  padding: 7vw 8vw;
}

.e-div1 {
  display: flex;
  gap: 700px;
}

.e-div1 ul li {
  font-family: var(--font-secondary);
}

.e-div1 ul li::marker {
  color: var(--anchor-primary);
}

.e-div1 .edi {
  font-size: 42px;
  font-family: var(--font-primary);
  font-weight: 600;
  text-align: end;
}

/*----------fixed img----------*/

.box {
  margin-top: 90px;
  background-color: var(--hover-color);
  border-radius: 10px;
  padding: 50px 40px;
  width: 800px;
}

.b1 {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-primary);
  border-bottom: 1px solid #5c004733;
  padding-bottom: 50px;
}

.b2 {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-primary);
  border-bottom: 1px solid #5c004733;
  padding: 50px 0;
}

.b3 {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-primary);
  padding-top: 50px;
}

.b1-s1,
.b2-s1,
.b3-s1,
.b2-s2,
.b1-s2,
.b3-s2 {
  width: 50%;
}

.b1-s1 p,
.b2-s1 p,
.b3-s1 p {
  color: var(--font-color);
  font-size: 90px;
  font-weight: 500;
}

.b1-s1 p sup,
.b2-s1 p sup,
.b3-s1 p sup {
  font-weight: 400;
  font-size: 55px;
}

.box .b1-s2 p,
.box .b2-s2 p,
.box .b3-s2 p {
  padding-top: 8px;
  color: var(--font-color);
  font-size: 16px;
  font-family: var(--font-primary);
}

/*---------------ceo-----------------*/

.ceo {
  margin: 1vw;
  background-color: var(--anchor-secondary);
  border-radius: 10px;
  font-family: var(--font-primary);
}

.ceo-div p {
  font-size: 60px;
  color: var(--font-color);
  padding: 10vw 10vw 6vw 10vw;
  font-weight: 500;
}

.ceo-img img {
  border-radius: 50%;
  width: 70px;
}

.ceo-text {
  padding-top: 3px;
  width: 93%;
}

.ceo-img {
  width: 7%;
}

.ceo-div2 {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10vw 10vw;
}

.ceo-div2 .ceo-p1 {
  color: black;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}

.ceo-div2 .ceo-p2 {
  color: orangered;
  font-size: 17px;
}

/*-------------------------------*/

.text p {
  text-align: center;
  font-size: 18px;
  font-family: var(--font-secondary);
  padding-top: 100px;
  padding-bottom: 50px;
}

.ai {
  display: flex;
  justify-content: space-between;
  margin: 0 18vw;
  padding-bottom: 100px;
}

/*--------------after ai logo------------------*/
.plugin {
  background-color: var(--jetbrain-color);
  padding: 8vw 7vw;
  font-family: var(--font-primary);
}

.plugin-text {
  align-items: center;
  justify-items: center;
}

.plugin-text img {
  align-self: center;
  width: 130px;
  align-items: center;
  display: flex;
}

.plugin-text h1 {
  color: #ffffff;
  font-size: 40px;
}

.plugin-text .plugin-p1 {
  color: #ffffff;
  font-size: 50px;
  padding: 20px 0;
}

.plugin-text .plugin-p2 {
  color: #ffffff;
}

.plugin-text a {
  color: var(--anchor-primary);
  font-size: 19px;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  word-spacing: 7px;
  text-decoration: underline;

  align-items: center;
  display: flex;
  padding: 40px;
}

.plugin-text a:hover {
  color: var(--hover-color);
}

.plugin-video video {
  width: 100%;
  height: 100vh;
  border-radius: 10px;
}

/*---------------------------*/
.solution-sec {
  padding: 8vw;
  background-color: var(--hover-color);
}

.solution-sec p {
  font-size: 45px;
  font-family: var(--font-primary);
}

.solution-div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-family: var(--font-secondary);
}

.sol-div1 {
  height: 93vh;
  width: 50%;
  background-color: #43045e;
  border-radius: 5px;
  padding: 40px;
  font-family: var(--font-secondary);
  background-image: url(https://exafunction.github.io/public/images/waves/link_card_waves/indigo_wave_desktop.svg);
}

.sol-div1 .div1-p1 {
  font-size: 16px;
  padding: 5px 8px;
  background-color: var(--anchor-secondary);
  width: 170px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-secondary);
}

.sol-div1 .div1-p2 {
  color: white;
  font-size: 38px;
  font-family: var(--font-secondary);
  padding: 25px 0;
}

.sol-div1 a,
.sol-div2 a {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  word-spacing: 5px;
}

.sol-div1 a:hover {
  color: #9d79ac;
}

.sol-div2 a:hover {
  color: rgb(102, 126, 102);
}

.sol-div2 {
  width: 50%;
  background-color: rgb(6, 48, 6);
  border-radius: 5px;
  padding: 40px;
  font-family: var(--font-secondary);
  height: 93vh;
  background-image: url(https://exafunction.github.io/public/images/waves/link_card_waves/aqua_wave_desktop.svg);
}

.sol-div2 .div2-p1 {
  font-size: 16px;
  padding: 5px 8px;
  background-color: rgb(237, 250, 159);
  width: 170px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-secondary);
}

.sol-div2 .div2-p2 {
  color: white;
  font-size: 38px;
  font-family: var(--font-secondary);
  padding: 25px 0;
}

/*----------------article  ----------*/
.article {
  padding: 9vw 13vw;
}

.article1 {
  display: flex;

  padding-bottom: 40px;
  gap: 420px;
}

.art1 {
  width: 60%;
}

.art2 {
  width: 40%;
  margin-top: 50px;
}

.art1 {
  font-size: 47px;
  font-family: var(--font-primary);
}

.art2 a {
  background-color: var(--button-primary);
  color: black;
  padding: 15px 60px;
  text-decoration: none;
  font-size: 18px;
  font-family: var(--font-secondary);
}

.art2 a:hover {
  background-color: #96f1da;
}

.grid-sec {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 170px 170px 170px 170px;
  gap: 8px;
}

.card1 {
  background-color: var(--hover-color);
  grid-row-start: 1;
  grid-row-end: 5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card1 img {
  width: 100%;
  height: 42vh;
  transition: transform 0.4s ease-in-out;
  border-radius: 5px;
}

.card1 img:hover{
  transform: scale(1.1);
}

.card, .card2 {
  background-color: var(--hover-color);
  border-radius: 5px;
}

.card1-bt {
  display: flex;
  gap: 8px;
}

.cards {
  padding: 30px 20px;
  font-family: var(--font-secondary);
}

.card1-bt1 {
  background-color: black;
  color: white;
  font-family: var(--font-secondary);
  text-decoration: none;
  padding: 4px 4px;
  font-size: 14px;
  border-radius: 5px;
}

.card1-bt2, .card2-div1 a {
  background-color: white;
  color: black;
  font-family: var(--font-secondary);
  text-decoration: none;
  padding: 4px 4px;
  font-size: 14px;
  border-radius: 5px;
}

.card1-p1 {
  font-size: 19px;
  font-family: var(--font-secondary);
  font-weight: 500;
  padding: 25px 0;
  border-bottom-style: dashed;
  border-color: #d5d3d3;
  
}

.card1-p2{
  padding-top: 25px;
  padding-bottom: 110px;
}

.card1-p3, .card2-p2{
  color: #8c8b8b;
  font-family: var(--font-secondary);
  
}

.card2 {
  display: flex;
  overflow: hidden;
}

.card2-div1{
  width: 50%;
  padding: 20px;
}

.card2-div2 {
  width: 50%;
  
}


.card2-div2 img {
  width: 320px;
  transition: transform 0.4s ease-in-out;
  border-radius: 5px;
}

.card2-div2 img:hover{
  transform: scale(1.1);
}

.card2-p1{
  padding: 20px 0;
  font-size: 19px;
  font-family: var(--font-secondary);
  font-weight: 400;
}



/*------------------footer----------------*/

footer {
  padding: 4vw 4vw 2vw 4vw;
  background-image: url(https://windsurf.com/static/images/footer/footer_wave_desktop.svg);
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: 130% auto;
  background-position: bottom;
}

.foot-up {
  text-align: center;
  border-bottom: 1px solid #435871;
}

.foot-up .p1 {
  font-size: 17px;
  font-family: var(--font-secondary);
  color: var(--anchor-primary);
  text-transform: uppercase;
  padding-bottom: 20px;
}

.foot-up .p2 {
  font-size: 40px;
  font-family: var(--font-primary);
  color: white;
}

.bt {
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 13px;
}

.bt .bt1 {
  padding: 15px 35px;
  background-color: var(--anchor-primary);
  color: var(--font-color);
  font-size: 18px;
  border-radius: 2px;
  border: none;
  font-family: var(--font-secondary);
}

.bt .bt1:hover {
  background-color: var(--anchor-secondary);
}

.bt .bt2 {
  padding: 15px 35px;
  background-color: var(--primary-color);
  color: var(--anchor-primary);
  font-size: 18px;
  border-radius: 2px;
  border: 1px solid var(--anchor-primary);
  font-family: var(--font-secondary);
}

.bt .bt2:hover {
  color: white;
  border: 1px solid white;
}

.foot-up .p3,
.foot-up .p3 a {
  color: var(--footer-font2);
  padding-bottom: 60px;
}

.foot-up .p3 a:hover {
  color: white;
}

.foot-mid {
  display: flex;
  gap: 60px;
  padding-top: 50px;
  padding-bottom: 290px;
  border-bottom: 1px solid #6f849d;
}

.sec {
  line-height: 35px;
  padding-right: 130px;
}

.sec .sec-p {
  color: var(--footer-font2);
  font-family: var(--font-secondary);
  font-size: 15px;
}

.sec a i {
  color: white;
  font-size: 20px;
}

.logo1,
.logo2 {
  gap: 15px;
  display: flex;
}

.foot-mid .list {
  line-height: 30px;
  list-style: none;
  font-size: 13px;
  color: white;
  font-family: var(--font-secondary);
}

.foot-mid a {
  text-decoration: none;
}

.sec1 ul a li,
.sec2 ul a li,
.sec3 ul a li,
.sec4 ul a li,
.sec5 ul a li {
  line-height: 30px;
  list-style: none;
  font-family: var(--font-secondary);
  font-size: 13px;
  color: var(--footer-font2);
}

.sec1 ul a,
.sec2 ul a,
.sec3 ul a,
.sec4 ul a,
.sec5 ul a {
  text-decoration: none;
}

.sec1 ul a li:hover,
.sec2 ul a li:hover,
.sec3 ul a li:hover,
.sec4 ul a li:hover,
.sec5 ul a li :hover {
  color: white;
}

.foot-last {
  padding-top: 30px;
  display: flex;
  gap: 1030px;
}

.foot-last-p1 {
  font-family: var(--font-secondary);
  color: whitesmoke;
  font-size: 14px;
}

.foot-last-p2 {
  font-family: var(--font-secondary);
  color: whitesmoke;
  font-size: 14px;
}
